<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="usyncBackOffice">
        <areas>
          <area>developer</area>
        </areas>
        <tab caption="uSync Backoffice">
          <control>/App_Plugins/usync/uSyncDashboard.html</control>
        </tab>
    </section>
</dashBoard>